@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .login-input-label {
    @apply text-[#262628] font-[400] text-[14px] capitalize;
  }

  .login-input {
    @apply px-4 py-2 2xl:h-[48px] h-[40px] border border-[#E4E4E4] bg-white rounded-[3px] text-[#262628] text-[15px] font-[400px] leading-normal focus-visible:outline-none placeholder:text-[14px] placeholder:text-[#262628];
  }

  .login-button {
    @apply w-full px-4 py-3 rounded-[6px] flex justify-center items-center border border-theme-color bg-white text-black text-[16px] font-bold h-[40px] focus-visible:outline-none hover:border-white hover:bg-[transparent] hover:text-white;
  }

  .custom-button {
    @apply px-4 py-2 rounded-[6px] flex justify-center items-center border border-black text-white bg-[#181824] text-[14px] font-medium focus-visible:outline-none hover:border-white hover:bg-[#070708bd];
  }

  td {
    @apply text-[14px] font-[400] py-3 px-5 border-b;
  }
}
.custom_table_text {
  @apply text-[12px] sm:text-[12px] md:text-[14px] lg:text-[14px] xl:text-[14px] 2xl:text-[16px];
}
.custom_btn_d {
  @apply border 2xl:text-[20px] 2xl:p-2 2xl:m-0 2xl:mt-0
              xl:text-[14px] xl:py-2 xl:px-4  xl:mb-2 xl:mt-0
              lg:text-[12px] lg:py-2 lg:px-3 lg:mb-2 lg:mt-0
              md:text-[12px] md:py-1 md:px-2 md:mb-2 md:mt-0
              sm:text-[12px] sm:py-1  sm:px-2 sm:m-0 sm:mt-0
              text-[10px] py-[3px] px-2 m-0 mt-0;
}
.custom_inputt {
  @apply rounded relative border border-gray-300 bg-gray-50 text-gray-500 focus:bg-white dark:border dark:border-gray-600  focus:outline-none  w-10/12  lg:w-10/12 2xl:text-sm 2xl:m-10 2xl:px-3 2xl:py-2 2xl:h-[50px]
         xl:m-5 xl:px-3 xl:py-1 xl:h-[40px]
             lg:m-5 lg:px-2 lg:py-1 lg:h-[35px]
            md:m-4 md:px-3 md:py-2 md:h-[30px]
          sm:m-3 sm:px-2 sm:py-1 sm:h-[30px]
         m-2 px-2 py-1 h-[25px] text-[10px];
}
.custom_input_label {
  @apply absolute bg-white z-20 text-gray-800
  2xl:text-[18px] 2xl:mt-6 2xl:ml-14
  xl:text-[14px] xl:mt-2 xl:ml-8
  lg:text-[12px] lg:mt-[10px] lg:ml-[26px]
  md:text-[10px] md:mt-2 md:ml-6
  sm:text-[10px] sm:mt-1 sm:ml-5
  text-[10px] ml-4;
}

.custom_btn {
  @apply border bg-black text-white rounded-md lg:rounded-lg  2xl:text-[20px] 2xl:p-2 2xl:m-10 2xl:mt-0
              xl:text-[14px] xl:py-2 xl:px-4  xl:m-5 xl:mt-0
              lg:text-[12px] lg:py-2 lg:px-3 lg:m-5 lg:mt-0
              md:text-[12px] md:py-1 md:px-2 md:m-4 md:mt-0
              sm:text-[11px] sm:py-1  sm:px-2 sm:m-3 sm:mt-0
              text-[9px] py-[3px] px-2 m-2 mt-0;
}
@layer base {
  html {
    /* / font-family: 'Montserrat', sans-serif; / */
    font-family: "Roboto", sans-serif;
  }
}


th,
td {
  border: none !important;
  border-bottom: 1px solid #81828345 !important;
}

button {
  transition: 0.3s;
}

button:hover {
  webkit-transition: all 350ms ease-in-out 0s;
  -moz-transition: all 350ms ease-in-out 0s;
  -ms-transition: all 350ms ease-in-out 0s;
  -o-transition: all 350ms ease-in-out 0s;
  transition: all 350ms ease-in-out 0s;
  opacity: 1;
}

/* / scroll bar / */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(82, 110, 119);
  border-radius: 6px;
}

/* / For Firefox /
/ Note: Firefox supports only scrollbar-color and scrollbar-width /
/ scrollbar-color: thumb color track color /
/ scrollbar-width: thin | auto | none / */
html {
  scrollbar-color: #fff #f690f66f;
  scrollbar-width: thin;
}

/* / login-bg / */
.login-bg {
  background: linear-gradient(45deg, #343a47, transparent);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-btn {
  background: linear-gradient(
    109.6deg,
    rgb(102, 203, 149) 11.2%,
    rgb(39, 210, 175) 98.7%
  );
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  border: 1px solid transparent;
  transition: background 0.3s ease, color 0.3s ease;
}
.login-btn:hover {
  color: #f3f3f3;
  background: linear-gradient(
    109.6deg,
    rgb(102, 203, 149) 11.2%,
    rgb(39, 210, 175) 98.7%
  );
}

.dash-menu svg {
  fill: white !important;
  stroke: white !important;
  height: 20px;
  width: 20px;
}

.head-menu svg {
  height: 30px;
  width: 30px;
}
.side-profile svg {
  height: 25px;
  width: 25px;
}

.custom-input {
  filter: drop-shadow(-2.828px 2.828px 1.5px rgba(0, 0, 0, 0.05));
  height: 50px;
  /* background-color: #fff; */
  border-color: #f3f3f3;
  border-radius: 10px;
}
.custom-input:focus {
  border: 1px solid #2c4783;
}
.is-show {
  transition: show;
  transform: translateX(0);
}

.drawer {
  transition: transform 0.3s ease-in-out; /* You can adjust the duration and easing function */
}
