@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .login-input-label {
    @apply text-[#262628] font-[400] text-[14px] capitalize;
  }

  .login-input {
    @apply px-4 py-2 2xl:h-[48px] h-[40px] border border-[#E4E4E4] bg-white rounded-[3px] text-[#262628] text-[15px] font-[400px] leading-normal focus-visible:outline-none placeholder:text-[14px] placeholder:text-[#262628];
  }

  .login-inputad {
    @apply px-4 py-2 2xl:h-[70px] xl:h-[45px] lg:h-[40px] border border-[#E4E4E4] bg-white rounded-full text-[#262628] 2xl:text-[18px] xl:text-[14px] lg:text-[10px] text-[10px] font-[400px] leading-normal focus-visible:outline-none placeholder:text-[14px] placeholder:text-[#262628];
  }

  .login-button {
    @apply w-full px-4 py-3 rounded-[6px] flex justify-center items-center border border-theme-color bg-white text-black text-[16px] font-bold h-[40px] focus-visible:outline-none hover:border-white hover:bg-[transparent] hover:text-white;
  }

  .custom-button {
    @apply px-4 py-2 rounded-[6px] flex justify-center items-center border border-black text-white bg-[#181824] text-[14px] font-medium focus-visible:outline-none hover:border-white hover:bg-[#070708bd];
  }

  td {
    @apply text-[14px] font-[400] py-3 px-5 border-b;
  }
}

.custom_table_text {
  @apply text-[12px] sm:text-[12px] md:text-[14px] lg:text-[14px] xl:text-[14px] 2xl:text-[16px];
}

.custom_btn_d {
  @apply border 2xl:text-[20px] 2xl:p-2 2xl:m-0 2xl:mt-0 xl:text-[14px] xl:py-2 xl:px-4 xl:mb-2 xl:mt-0 lg:text-[12px] lg:py-2 lg:px-3 lg:mb-2 lg:mt-0 md:text-[12px] md:py-1 md:px-2 md:mb-2 md:mt-0 sm:text-[12px] sm:py-1 sm:px-2 sm:m-0 sm:mt-0 text-[10px] py-[3px] px-2 m-0 mt-0;
}

.custom_inputt {
  @apply rounded relative border border-gray-300 bg-gray-50 text-gray-500 focus:bg-white dark:border dark:border-gray-600 focus:outline-none w-10/12 lg:w-10/12 2xl:text-sm 2xl:m-10 2xl:px-3 2xl:py-2 2xl:h-[50px] xl:m-5 xl:px-3 xl:py-1 xl:h-[40px] lg:m-5 lg:px-2 lg:py-1 lg:h-[35px] md:m-4 md:px-3 md:py-2 md:h-[30px] sm:m-3 sm:px-2 sm:py-1 sm:h-[30px] m-2 px-2 py-1 h-[25px] text-[10px];
}

.custom_input_label {
  @apply absolute bg-white z-20 text-gray-800 2xl:text-[18px] 2xl:mt-6 2xl:ml-14 xl:text-[14px] xl:mt-2 xl:ml-8 lg:text-[12px] lg:mt-[10px] lg:ml-[26px] md:text-[10px] md:mt-2 md:ml-6 sm:text-[10px] sm:mt-1 sm:ml-5 text-[10px] ml-4;
}

.custom_btn {
  @apply border bg-black text-white rounded-md lg:rounded-lg 2xl:text-[20px] 2xl:p-2 2xl:m-10 2xl:mt-0 xl:text-[14px] xl:py-2 xl:px-4 xl:m-5 xl:mt-0 lg:text-[12px] lg:py-2 lg:px-3 lg:m-5 lg:mt-0 md:text-[12px] md:py-1 md:px-2 md:m-4 md:mt-0 sm:text-[11px] sm:py-1 sm:px-2 sm:m-3 sm:mt-0 text-[9px] py-[3px] px-2 m-2 mt-0;
}

@layer base {
  html {
    /* / font-family: 'Montserrat', sans-serif; / */
    font-family: "Roboto", sans-serif;
  }
}


th,
td {
  border: none !important;
  border-bottom: 1px solid #81828345 !important;
}

button {
  transition: 0.3s;
}

button:hover {
  webkit-transition: all 350ms ease-in-out 0s;
  -moz-transition: all 350ms ease-in-out 0s;
  -ms-transition: all 350ms ease-in-out 0s;
  -o-transition: all 350ms ease-in-out 0s;
  transition: all 350ms ease-in-out 0s;
  opacity: 1;
}

/* / scroll bar / */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(82, 110, 119);
  border-radius: 6px;
}

/* / For Firefox /
/ Note: Firefox supports only scrollbar-color and scrollbar-width /
/ scrollbar-color: thumb color track color /
/ scrollbar-width: thin | auto | none / */
html {
  scrollbar-color: #fff #f690f66f;
  scrollbar-width: thin;
}

/* / login-bg / */
.login-bg {
  background: linear-gradient(45deg, #343a47, transparent);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-btn {
  background: linear-gradient(109.6deg,
      rgb(102, 203, 149) 11.2%,
      rgb(39, 210, 175) 98.7%);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  border: 1px solid transparent;
  transition: background 0.3s ease, color 0.3s ease;
}

.login-btn:hover {
  color: #f3f3f3;
  background: linear-gradient(109.6deg,
      rgb(102, 203, 149) 11.2%,
      rgb(39, 210, 175) 98.7%);
}

.dash-menu svg {
  fill: white !important;
  stroke: white !important;
  height: 20px;
  width: 20px;
}

.head-menu svg {
  height: 30px;
  width: 30px;
}

.side-profile svg {
  height: 25px;
  width: 25px;
}

.custom-input {
  filter: drop-shadow(-2.828px 2.828px 1.5px rgba(0, 0, 0, 0.05));
  height: 50px;
  /* background-color: #fff; */
  border-color: #f3f3f3;
  border-radius: 10px;
}

.custom-input:focus {
  border: 1px solid #2c4783;
}

.is-show {
  transition: show;
  transform: translateX(0);
}

.drawer {
  transition: transform 0.3s ease-in-out;
  /* You can adjust the duration and easing function */
}


#register-bg {
  background-image: url('../../public/images/poster.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#registerad-bg {
  background-image: url('../../public/images/adminPoster.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#forgot-bg {
  background-image: url('../../public/images/forgotPassword.svg');
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
}

#subscription-first {
  background-image: url('../../public/images/Rectangle\ 401.svg');
  background-size: cover;
  background-position: center;
}

#subscription-second {
  background-image: url('../../public/images/Rectangle\ 402.svg');
  background-size: cover;
  background-position: center;
}

#subscription-third {
  background-image: url('../../public/images/Rectangle\ 403.svg');
  background-size: cover;
  background-position: center;
}

#subscription-fourth {
  background-image: url('../../public/images/Rectangle\ 404.svg');
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .register-bg {
    background-image: url('');
  }
}



@font-face {
  font-family: "poppins";
  src: url("../../src/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "quicksand";
  src: url("../../src/fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: "montserrat";
  src: url("../../src/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.poppins-five {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.poppins-plan {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
}

.montserrat {
  font-family: "montserrat", sans-serif;
  font-style: normal;
}

.montserrat-btn {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.montserrat-otp {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.montserrat-lable {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.montserrat-countinue {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "legend";
  src: url("../../src/fonts//Lexend//Lexend-VariableFont_wght.ttf");
}

.legend {
  font-family: "legend", sans-serif;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("../../src/fonts/Inter_Tight//InterTight-VariableFont_wght.ttf");
}

.inter {
  font-family: "inter", sans-serif;
  font-style: normal;
}

@media (max-width:530px) {
  .u_table {
    width: 150%;
  }
}

@media (max-width:430px) {
  .u_table {
    width: 180%;
  }
}

@media (max-width:360px) {
  .u_table {
    width: 240%;
  }
}

.userprofileU {
  @apply text-[#323232] 2xl:text-[18px] xl:text-[14px] text-[12px]
}


.userupdateBtn {
  @apply bg-[#0071BC] text-white 2xl:text-[16px] xl:text-[12px] text-[10px] 2xl:w-[168px] 2xl:h-[52px] xl:h-[35px] h-[30px] rounded-full 2xl:p-3 px-2 2xl:my-10
}

.userupdateInputs {
  @apply outline-[#0071BC] border rounded-full 2xl:text-[16px] xl:text-[12px] text-[10px] 2xl:h-[52px] xl:h-[35px] h-[30px] 2xl:w-[286px] xl:w-[200px] md:w-[170px]
}


.image-item {
  transition: fill 0.3s;
  /* Smooth transition effect */
}

.svg-Image:hover .image-item {
  fill: blue;
  /* Change the color to blue on hover */
}



/* ========================Super Admin Dashboard============== */

.super_box {

  @apply w-full sm:w-[45%] h-[75px] lg:w-[200px] lg:h-[60px] xl:w-[280px] xl:h-[100px] 2xl:w-[353px] 2xl:h-[137px] rounded-md flex justify-between 2xl:p-7 xl:p-5 lg:p-3 p-3 shadow-md
}

.super_box_s {
  @apply xl:w-[280px] xl:h-[115px] 2xl:w-[353px] 2xl:h-[147px] rounded-md flex justify-between 2xl:p-7 xl:p-5
}

.super_box_p {
  @apply 2xl:text-[16px] 2xl:leading-[24px] xl:text-[12px] lg:text-[10px] text-[#0071BC]
}

.super_box_no {
  @apply text-[#323232] 2xl:text-[40px] 2xl:leading-[40px] xl:text-[22px] xl:leading-[35px] 2xl:my-2 lg:text-[18px] lg:leading-[30px]
  sm:text-[18px] sm:leading-[30px] my-1
}

.super_box_img {
  @apply 2xl:w-[50px] 2xl:h-[50px] xl:w-[35px] xl:h-[35px] lg:w-[25px] lg:h-[25px] w-[30px] h-[30px]
}


.bg_rs {
  background-image: url('../../public/images/rs-bg.svg');
  background-size: cover;
  background-position: center;
}



/* =========================SuperAdmin=================== */

.superAD_sDiv {
  @apply rounded-[10px] 2xl:w-[342px] 2xl:h-[178px] bg-white flex 2xl:gap-2 2xl:p-4 xl:p-3
}

.superAD_sImg {
  @apply 2xl:w-[52px] 2xl:h-[52px] xl:w-[40px] xl:h-[40px] lg:w-[30px] lg:h-[30px] sm:w-[35px] sm:h-[35px] w-[30px] h-[30px]
}

.superAD_sName {
  @apply legend font-[500] 2xl:text-[14px] 2xl:leading-[20px] xl:text-[12px] xl:leading-[18px] lg:text-[10px] lg:leading-[16px] sm:text-[12px] sm:leading-[18px] text-[12px] leading-[18px]
}

.superAD_sP {
  @apply legend font-[300] 2xl:text-[14px] 2xl:leading-[22px] 2xl:w-[232px] xl:my-1 xl:text-[10px] xl:leading-[16px] lg:text-[10px] lg:leading-[16px]
}

.superAD_sBtn {
  @apply 2xl:w-[98px] 2xl:h-[30px] bg-[#0071BC] text-white rounded-[3px] 2xl:my-5 xl:text-[10px] lg:text-[10px] 2xl:py-[3px] 2xl:px-[6px] xl:py-[1px] xl:px-[6px] lg:py-[1px] lg:px-[2px]
}

/* =========================SuperAdmin yellow panel=================== */
.superAD_sdiv {
  @apply rounded-[10px] 2xl:w-[374px] 2xl:h-[141px] xl:w-[260px] xl:h-[100px] lg:w-[47%] lg:h-[95px] bg-white 2xl:p-5 xl:p-3 lg:p-2
  sm:w-[45%] sm:h-[110px] sm:p-3 p-3
}

.superAD_sdate {
  @apply legend font-[400] 2xl:text-[13px] 2xl:leading-[20px] text-[#A8A8A8] xl:text-[10px] xl:leading-[14px] lg:text-[9px] lg:leading-[16px] sm:text-[12px] sm:leading-[18px] text-[12px] leading-[18px]
}

.superAD_sBdate {
  @apply legend font-[400] 2xl:text-[16px] 2xl:leading-[20px] text-[#323232] xl:text-[10px] xl:leading-[14px] lg:text-[12px] lg:leading-[16px] sm:text-[13px] sm:leading-[18px] text-[13px] leading-[18px]
}

.superAD_sbtn {
  @apply legend font-[500] 2xl:text-[14px] 2xl:leading-[20px] 2xl:w-[98px] 2xl:h-[30px] lg:h-[20px] xl:h-[25px] bg-[#0071BC] text-white rounded-[3px] xl:text-[10px] lg:text-[10px] sm:text-[12px] text-[9px] 2xl:py-[3px] 2xl:px-[6px] xl:py-[1px] xl:px-[6px] lg:py-[1px] lg:px-[2px] h-[25px]
   sm:py-[3px] sm:px-[6px]  py-[3px] px-[6px]
}

.add_btn {
  @apply legend font-[700] 2xl:text-[16px] 2xl:leading-[20px] 2xl:w-[208px] 2xl:h-[51px] rounded-[5px] flex justify-center items-center xl:gap-2 text-white xl:text-[12px] xl:leading-[18px] xl:w-[180px] xl:h-[40px] lg:text-[10px] lg:leading-[16px] lg:w-[140px] lg:h-[30px] gap-1 md:text-[10px] md:leading-[16px] md:w-[140px] md:h-[30px] sm:text-[11px] sm:leading-[16px] sm:w-[170px] sm:h-[35px] text-[11px] leading-[16px] w-[39%] h-[32px] 
}

.add_img {
  @apply 2xl:w-[20px] 2xl:h-[20px] xl:w-[16px] xl:h-[16px] lg:w-[14px] lg:h-[14px] sm:w-[12px] sm:h-[12px] w-[10px] h-[10px]
}

.craete_tbl_row {
  @apply legend font-[500] 2xl:text-[14px] 2xl:leading-[20px] xl:text-[12px] xl:leading-[18px] lg:text-[10px] lg:leading-[12px] sm:text-[10px] sm:leading-[12px] text-[9px] leading-[11px]
}

.craete_tbl_Pbtn {
  @apply legend font-[500] 2xl:text-[14px] 2xl:leading-[20px] 2xl:w-[80px] 2xl:h-[30px] lg:h-[20px] xl:h-[25px] bg-[#0071BC] text-white rounded-[3px] xl:text-[10px] lg:text-[9px] 2xl:py-[3px] 2xl:px-[6px] xl:py-[1px] xl:px-[6px] lg:py-[1px] lg:px-[2px] xl:w-[60px] lg:w-[50px] sm:w-[50px] sm:h-[22px] sm:text-[10px] w-[50px] h-[20px] text-[9px]
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.modal-action {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

@media (max-width:500px) {
  .table_w {
    width: 200%;
  }
}

@media (max-width:400px) {
  .table_w {
    width: 265%;
  }
} 